.board-faq__wrap__a {
  .board-faq {
    //우측아이콘 ( 화살표)
    &__quest {
      @include xi-icon('\e941', after);
      &:after {
        padding: 0 1rem;
        position: absolute;
        right: 0;
        top: 50%;
        color: #777;
        font-size: 1.2rem;
        transform: translateY(-50%);
      }
      &.active {
        color: $color-1;
        &:after {
          content: '\e944';
        }
      }
    }

    //좌측 아이콘
    &__quest,
    &__answer {
      position: relative;
      padding: 1rem;
      padding-left: 4rem;
    }
    &__icon {
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 0.9em;
      font-style: normal;
      &--q {
        background-color: $color-1;
        color: #fff;
      }

      &--a {
        background-color: $color-2;
        color: #fff;
      }
    }
  }
}
