@charset "UTF-8";

@import 'functions';
@import 'variables';

// Mixins
@import 'mixins';

.main--guide {
	//overflow: hidden;
}
.cloud-bg {
	position: relative;
	z-index: 2;
	margin: -30px 0;
	height: rem(254);
	background-repeat: repeat-x;
	background-size: auto 100%;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	&--white {
		background-image: url(../images/guide/cloud_bg_white.png);
	}
	&--color1 {
		background-image: url(../images/guide/cloud_bg_color1.png);
	}
	.text-en {
		letter-spacing: letterSpacing(150);
	}
}

.section--guide1 {
	padding: em(200) 0 em(250);
	text-align: center;
	position: relative;

	.text-img {
		position: relative;
		.icon {
			position: absolute;
			img {
				width: em(145);
			}

			&--1 {
				left: 0;
				top: 0;
				transform: translate(-100%, -50%);
			}
			&--2 {
				left: 53%;
				top: 0;
				transform: translateY(-90%);
			}
			&--3 {
				right: 0;
				top: 0;
				transform: translate(90%, -50%);
				img {
					width: em(120);
				}
			}
			&--4 {
				left: 10%;
				top: 45%;
				img {
					width: em(135);
				}
			}
			&--5 {
				left: 68%;
				top: 70%;
				img {
					width: em(120);
				}
			}
		}
	}
	.exit-btn {
		position: absolute;
		left: 3vw;
		bottom: em(90);
		width: em(84);
		height: em(84);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border: 1px solid $white;
		border-radius: 50%;
		transition: 0.3s ease;
		i {
			font-size: em(30);
		}
		&:hover {
			background-color: $white;
			border-color: $white;
			color: $color-1;
		}
	}
}

.section--guide2 {
	position: relative;
	.card-img-box {
		position: relative;
		.abs-img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			img {
				max-width: none;
			}
		}
	}
}

.section--guide3 {
	overflow: hidden;
	.card-list {
		display: flex;
		&__item {
			flex: 0 0 em(505);
			width: em(505);
			&:nth-child(2) {
				transform: translateX(-55%);
			}
			&:nth-child(3) {
				transform: translateX(-110%);
			}
			&:nth-child(4) {
				transform: translateX(-165%);
			}
		}
	}
}

.section--guide4 {
	position: relative;

	.content-box {
		position: relative;
		display: inline-block;
		min-width: 940px;
		.text {
			position: relative;
			z-index: 2;
		}
		.circle {
			border-radius: 50%;
			position: absolute;
			&.bg-color-3 {
				width: em(470);
				height: em(470);
				right: em(-30);
				top: 0;
			}
			&.bg-color-1 {
				width: em(720);
				height: em(720);
				left: -7vw;
				top: -16vw;
			}
		}
		.img {
			position: relative;
			z-index: 2;
		}

		&--1 {
			padding-right: 5vw;
		}
		&--2 {
			padding-left: 14vw;
		}
	}
	.deco {
		position: absolute;
		right: 0;
		bottom: 7vw;
	}
}

.section--guide5 {
	background: #fff4e4;
	padding: em(260) 0;

	.flavors {
		width: 100%;
		max-width: 1060px;
		margin: rem(300) auto 0;
		&__item {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			position: relative;
			padding-top: rem(120);
			margin-top: rem(200);

			&:nth-child(1) {
				.deco-box {
					.circle {
						background: #813b11;
					}
				}
			}
			&:nth-child(2) {
				.deco-box {
					.circle {
						background: #80ac04;
					}
				}
			}
			&:nth-child(3) {
				.deco-box {
					.circle {
						background: #d8821c;
					}
				}
			}
			&:nth-child(4) {
				.deco-box {
					.circle {
						background: #ff3e42;
					}
				}
			}
			&:nth-child(even) {
				flex-direction: row-reverse;

				.deco-box {
					left: auto;
					right: -5vw;
					.text {
						left: auto;
						right: rem(50);
					}
				}
				.txt-box {
					padding-left: 0;
					padding-right: em(90);
					text-align: right;
				}
			}
		}

		.deco-box {
			position: absolute;
			left: -5vw;
			top: 0;
			.circle {
				width: rem(270);
				height: rem(270);
				border-radius: 50%;
			}
			.text {
				position: absolute;
				left: rem(50);
				top: 40%;
				transform: translateY(-50%);
				z-index: 2;
				img {
					max-width: none;
				}
			}
		}
		.img-box {
			flex: 0 0 percentage(513/1060);
			max-width: percentage(513/1060);
			position: relative;
			//z-index: 2;
		}
		.txt-box {
			flex: 1 1 auto;
			width: 1%;
			padding-left: em(90);
			position: relative;
			//z-index: 2;
			.title {
				font-size: em(40);
				font-weight: 700;
			}
			.description {
				font-size: em(18);
			}
		}
	}
}

.section--guide6 {
	position: relative;
}
.section--custom {
	position: relative;
	height: 100vh;
	.custom-box {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.custom-item {
		// display: flex;
		// flex-wrap: wrap;
		// align-items: center;

		.img-box {
			flex: 0 0 percentage(603/1160);
			max-width: percentage(603/1160);

			.p-wrap {
				position: relative;
				overflow: hidden;
				width: 450px;
				height: 80vh;
			}

			.panel {
				position: absolute;
				left: 0%;
				top: 0%;
				right: 0%;
				bottom: 0%;
				//z-index: 1;
				width: 100%;
				height: 100%;
				// background-image: url("../images/5ed12171d9d512cb2feead83_5.jpg");
				// background-position: 50% 50%;
				// background-size: cover;
				// background-repeat: no-repeat;
			}
			// img {
			// 	&:nth-child(2),
			// 	&:nth-child(3) {
			// 		display: none;
			// 	}
			// }
		}
		.txt-box {
			flex: 1 1 auto;
			width: 1%;
			padding-left: 5vw;
			.bullet-list {
				@include bullet(
					(
						width: 14,
						height: 15,
						font-size: 16,
						line-height: 1.5,
					),
					'../images/guide/check_icon.png'
				);
			}
		}
	}

	// &.active {
	// 	// position: fixed;
	// 	// left: 0;
	// 	// top: 0;
	// 	// right: 0;
	// 	// bottom: 0;
	// 	.custom-item {
	// 		position: absolute;
	// 		left: 0;
	// 		top: 0;
	// 		right: 0;
	// 		bottom: 0;
	// 	}
	// }
}

#animation {
	position: relative;
	width: 100%;
	//height: 100vh;
	text-align: center;
	background-color: $color-3;
	section:not(.first) {
		opacity: 0;
	}
	.active {
		opacity: 1;
		transition: opacity 0.25s;
	}

	.panel {
		position: absolute;
		width: 100%;
		height: 800px;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;
		justify-content: center;
		img {
			max-width: 800px;
			width: 100%;
			height: auto;
			position: relative;
			z-index: 0;
		}
	}

	.text {
		position: absolute;
		z-index: 2;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		font-size: 32px;
		color: red;
		font-weight: bold;
		border: 1px solid red;
		text-align: center;
	}
}

.spacer {
	position: relative;
	//height: 800px;
}
