@charset "UTF-8";

.mfp-wrap {
	form > .mfp-close {
		display: none !important;
	}
}

/* 기본 팝업 */
.popup {
	position: relative;
	max-width: 920px;
	margin: 0 auto;
	padding: rem(30);
	background-color: #fff;

	&.popup--lg {
		max-width: 1200px;
	}

	&.popup--md {
		max-width: 700px;
	}

	&.popup--sm {
		max-width: 500px;
	}

	&__title {
		font-size: rem(20);
	}

	.mfp-close {
		font-size: 0;
		width: auto;
		height: auto;
		line-height: normal;
		right: rem(20);
		top: rem(20);
		opacity: 1;
		padding: rem(5);
		&::before {
			content: '\e9af';
			font-family: 'xeicon' !important;
			font-size: rem(30);
		}
	}

	.policy-box {
		overflow-x: hidden;
		overflow-y: auto;
		height: rem(200);
		border: 1px solid rgba($color-1, 0.6);
		padding: rem(20);
		font-size: rem(14);
		line-height: 1.6;
	}

	.pop-article {
		padding-bottom: em(40);
		margin-bottom: em(40);
		border-bottom: 1px solid #ddd;
		&:nth-last-of-type(1) {
			padding-bottom: 0;
			margin-bottom: 0;
			border: 0;
		}
	}

	.coupon-list {
		height: 150px;
		overflow-y: auto;
		padding: rem(15) 20px;
		border: 1px solid $gray-d;
		&__item {
			margin-bottom: em(20);
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

/* 파일 다운로드 팝업 */
.pop-file-download {
	position: relative;
	max-width: 500px;
	max-height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding: rem(30);

	.link {
		&:hover {
			text-decoration: underline;
		}
	}
}

.b2b-gallery {
	max-width: 700px;
	.swiper-slide {
		@include img-to-bg(100%);
	}

	.b2b-slider-thumbs {
		margin-top: 20px;
		@include mdq-max(sm) {
			margin-top: 6px;
		}
		.swiper-slide {
			cursor: pointer;
		}
	}

	.mfp-close {
		right: rem(30);
		top: rem(30);
		&::before {
			color: $black;
			font-size: rem(40);
		}
	}
}

.input-label--pay {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	border: 1px solid $gray-7;

	@include mdq-max(xs) {
		width: 100%;
	}

	input[type='radio'] {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;

		&:checked + .input-label__txt {
			border-color: $color-1;

			// .icon {
			// 	&--gray {
			// 		display: none;
			// 	}
			// 	&--color {
			// 		display: block;
			// 	}
			// }
			.title {
				color: $color-1;
			}
		}
	}
	.input-label__txt {
		display: block;
		padding: rem(10);
		text-align: center;
		line-height: 1.1;

		&::before,
		&::after {
			display: none;
		}

		// .icon {
		// 	&--color {
		// 		display: none;
		// 	}
		// }
		.title {
			color: $gray-7;
			font-size: 14px;
		}
	}
}

/* 팝업 내부 팝업 */
.pop-in-pop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(#000, 0.8);

	.pop-in-close {
		position: absolute;
		top: 1rem;
		right: 1rem;
		font-size: 1rem;
		padding: 0.5rem;
		font-weight: 700;
		cursor: pointer;
	}
}
