@charset "UTF-8";

.skip {
  .link {
    text-indent: -9999px;
    font-size: 0;
    height: 0;
    position: absolute;
    top: 0;
    &:focus {
      background-color: #008;
      color: #fff;
      text-align: center;
      z-index: 10000;
      text-indent: 0;
      font-size: rem(15);
      width: 100%;
      // min-width: 1250px;
      height: rem(30);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
