@charset "UTF-8";

@mixin bullet($sizes:(width, height, font-size, line-height), $url:none){
  $font-size: map-get($sizes, font-size);
  $line-height: map-get($sizes, line-height);
  $width: em(map-get($sizes, width), $font-size);
  $height: em(map-get($sizes, height), $font-size);

  > .item {
    display: flex;

    &::before {
      content: '';
      display: block;
      flex: 0 0 $width;
      width: $width;
      height: $height;
      background-color: #333;
      margin-top: ($line-height/2) * 1em;
      margin-right: 0.5em;
      transform: translateY(-50%);
      box-sizing: border-box;
      background: {
        repeat: no-repeat;
        position: center;
        size: cover;
      };
    }
  }

  &.bullet-list--disc {
    > .item::before {
      border-radius: 50%;
    }
  }

  &.bullet-list--circle {
    > .item::before {
      border-radius: 100%;
      background-color: transparent;
      border: 1px solid #333;
    }
  }

  &.bullet-list--decimal {
    > .item {
      &::before {
        display: none;
      }

      .decimal-number {
        display: block;
        flex: 0 0 auto !important;
        width: auto !important;
        height: $line-height * 1em;
        margin-top: ($line-height/2) * 1em;
        margin-right: 0.5em;
        transform: translateY(-50%);
      }
    }
  }

  &.bullet-list--image {
    > .item::before {
      background-color: transparent;
      background-image: url($url);
    }
  }
  
  &.bullet-list--txt {
    > .item:before {
      content: attr(data-bullet);
      display: inline;
      flex: 0 0 auto;
      width: auto;
      height: auto;
      background-color: transparent;
      margin: 0;
      transform: none;
      margin-right: 0.5em;
    }
  }
}
