/* Made by Masstige */
@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.main-visual {
  position: relative;
}
.main-visual .img-bx {
  display: block;
  position: relative;
  overflow: hidden;
}
.main-visual .img-bx::after {
  content: "";
  display: block;
  padding-bottom: 960px;
}
.main-visual .img-bx > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.main-visual .swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 3.125rem;
  transform: translateX(-50%);
}
.main-visual .swiper-pagination-bullet {
  margin: 0 0.375rem !important;
  width: 1.25rem;
  height: 1.25rem;
  box-sizing: border-box;
  border: 2px solid #fff;
  background: transparent;
  opacity: 1;
}
.main-visual .swiper-pagination-bullet-active {
  background: #fff;
}
.main-visual .swiper-button {
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  transition: 300ms color;
}
.main-visual .swiper-button img {
  width: 1.5rem;
}
.main-visual .swiper-button--prev {
  left: 3vw;
}
.main-visual .swiper-button--next {
  right: 3vw;
}
.main-visual__btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 9.375rem;
  text-align: center;
  z-index: 10;
}
.main-visual__btn .btn {
  border-width: 2px;
  font-family: "S Core Dream", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Times New Roman", "Palatino Linotype", "Book Antiqua", Georgia, Times, Palatino, serif;
  font-size: 1.375em;
  height: 4.375rem;
  width: 17.5rem;
  border-radius: 4.375rem;
  padding: 0;
  margin: 0 0.625rem;
  line-height: 1.2;
  letter-spacing: -0.03em;
}
@media all and (max-width: 1400px) {
  .main-visual .swiper-button {
    display: none;
  }
}
@media all and (max-width: 1200px) {
  .main-visual .img-bx::after {
    padding-bottom: 850px;
  }
}
@media all and (max-width: 1024px) {
  .main-visual .swiper-pagination {
    bottom: 1.875rem;
  }
  .main-visual .swiper-pagination-bullet {
    width: 0.9375rem;
    height: 0.9375rem;
  }
  .main-visual__btn {
    bottom: 6.25rem;
  }
  .main-visual__btn .btn {
    font-size: 1.125em;
    height: 3.75rem;
    width: 15rem;
    border-radius: 3.75rem;
    margin: 0 0.3125rem;
  }
}
@media all and (max-width: 768px) {
  .main-visual .img-bx::after {
    padding-bottom: 120.8333333333%;
  }
}
@media all and (max-width: 576px) {
  .main-visual__btn {
    bottom: 5.625rem;
  }
  .main-visual__btn .btn {
    font-size: 1.0625em;
    width: 10rem;
    margin: 0 0.1875rem;
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px 10px;
}
.product-list .product-list__item {
  flex: 1 0 20%;
  max-width: 20%;
  padding: 0 6px;
  margin-bottom: 10px;
}
.product-list .product-list__item .txt-box .product-name {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 0.625em;
}
.product-list .product-list__item .txt-box .price {
  font-size: 1em;
  font-weight: 500;
}
@media all and (max-width: 1200px) {
  .product-list .product-list__item {
    flex: 1 0 25%;
    max-width: 25%;
  }
}
@media all and (max-width: 768px) {
  .product-list .product-list__item {
    flex: 1 0 50%;
    max-width: 50%;
  }
}
@media all and (max-width: 320px) {
  .product-list .product-list__item {
    flex: 1 0 100%;
    max-width: 100%;
  }
}
.product-list__item .inner {
  display: block;
}
.product-list__item .img-box {
  display: block;
  position: relative;
  overflow: hidden;
}
.product-list__item .img-box::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.product-list__item .img-box > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.product-list__item .img-box .badge {
  position: absolute;
  left: 0.9375rem;
  top: 0.9375rem;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 5.625rem;
  height: 2.5rem;
}
.product-list__item .img-box .badge--best {
  background-image: url(../images/product/badge_best.png);
}
.product-list__item .img-box .badge--new {
  background-image: url(../images/product/badge_new.png);
}
.product-list__item .img-box .badge--sale {
  background-image: url(../images/product/badge_sale.png);
}
.product-list__item .txt-box {
  padding: 1.25rem 0;
  line-height: 1.2;
}
.product-list__item .txt-box .product-name {
  font-size: 1.1875em;
  margin-bottom: 0.5263157895em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-list__item .txt-box .nationwide {
  color: #f32f3e;
  font-weight: 700;
  border-radius: 1.25rem;
  border: 1px solid #f32f3e;
  padding: 1px 0.4375rem;
  display: inline-block;
}
.product-list__item .txt-box .price {
  font-size: 1.375em;
  font-weight: 700;
}

.review-list__item {
  position: relative;
}
.review-list__item .img-box {
  display: block;
  position: relative;
  overflow: hidden;
}
.review-list__item .img-box::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.review-list__item .img-box > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.review-list__item .img-box img {
  transition: 0.3s;
}
.review-list__item .txt-box {
  border: 1px solid #ddd;
  border-top: 0;
  padding: 1.25rem 1.25rem 0;
  line-height: 1.2;
  position: relative;
}
.review-list__item .txt-box::before {
  content: "\f6b0";
  font-family: bootstrap-icons !important;
  display: inline-block;
  font-size: 1.875em;
  color: #444;
}
.review-list__item .txt-box .text {
  display: block;
  font-size: 1.125em;
  font-weight: 500;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 1.4;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  height: 2.8em;
  margin-bottom: 0.625rem;
}
.review-list__item .txt-box .writer {
  color: #666;
  margin: 0 -0.625rem;
  margin-bottom: 1.25rem;
}
.review-list__item .txt-box .writer span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.625rem;
  position: relative;
}
.review-list__item .txt-box .writer span + span::before {
  content: "";
  width: 1px;
  height: 0.75rem;
  margin-top: 1px;
  background: #999;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.review-list__item .txt-box .related-product {
  padding: 1.25rem 0;
  border-top: 1px solid #ddd;
}
.review-list__item .txt-box .related-product .link {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.125em;
  color: #555;
}
.review-list__item .txt-box .related-product .link:hover {
  text-decoration: underline;
}
.review-list__item .line {
  position: absolute;
  z-index: 2;
  background: #8784d6;
}
.review-list__item .line--t, .review-list__item .line--b {
  transition: width 0.3s;
  width: 0;
  height: 4px;
}
.review-list__item .line--r, .review-list__item .line--l {
  transition: height 0.3s;
  width: 4px;
  height: 0;
}
.review-list__item .line--t {
  top: 0;
  left: 0;
}
.review-list__item .line--r {
  top: 0;
  right: 0;
}
.review-list__item .line--b {
  right: 0;
  bottom: 0;
}
.review-list__item .line--l {
  left: 0;
  bottom: 0;
}
@media all and (min-width: 1024.02px) {
  .review-list__item:hover .line--t, .review-list__item:hover .line--b {
    width: 100%;
  }
  .review-list__item:hover .line--r, .review-list__item:hover .line--l {
    height: 100%;
  }
  .review-list__item:hover .img-box img {
    transform: translate(-50%, -50%) scale(0.105);
  }
}
@media all and (max-width: 768px) {
  .review-list__item .txt-box::before {
    font-size: 1.5625em;
  }
  .review-list__item .txt-box .text {
    font-size: 1.0625em;
  }
  .review-list__item .txt-box .related-product .link {
    font-size: 1em;
  }
}

.main-body {
  overflow-x: hidden;
}

.main {
  overflow: hidden;
}
@media all and (max-width: 1024px) {
  .main .section .swiper-container {
    overflow: visible;
  }
}
.main .main-title {
  font-size: 1.4375em;
  font-weight: 400;
  font-family: "S Core Dream", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Times New Roman", "Palatino Linotype", "Book Antiqua", Georgia, Times, Palatino, serif;
  letter-spacing: -0.02em;
}
@media all and (max-width: 768px) {
  .main .main-title--img img {
    width: 12.5rem;
  }
}
@media all and (max-width: 375px) {
  .main .main-title--img img {
    width: 11.25rem;
  }
}
.main .main-brand .img {
  display: block;
  position: relative;
  overflow: hidden;
}
.main .main-brand .img::after {
  content: "";
  display: block;
  padding-bottom: 640px;
}
.main .main-brand .img > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
@media all and (max-width: 1024px) {
  .main .main-brand .img::after {
    padding-bottom: 400px;
  }
}
@media all and (max-width: 768px) {
  .main .main-brand .img::after {
    padding-bottom: 58.3333333333%;
  }
}
.main .main-lookbook {
  margin: 10px 0;
}
.main .main-lookbook .swiper-wrapper,
.main .main-lookbook .slick-track,
.main .main-lookbook .slick-list,
.main .main-lookbook .slick-slider {
  transition-timing-function: linear !important;
}
.main .main-lookbook .item {
  padding-right: 10px;
}
.main .main-lookbook .swiper-slide > a,
.main .main-lookbook .item > a {
  display: block;
  position: relative;
  overflow: hidden;
}
.main .main-lookbook .swiper-slide > a::after,
.main .main-lookbook .item > a::after {
  content: "";
  display: block;
  padding-bottom: 183.9416058394%;
}
.main .main-lookbook .swiper-slide > a > img,
.main .main-lookbook .item > a > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.main .main-lookbook .swiper-slide > a .hover-box,
.main .main-lookbook .item > a .hover-box {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1.875rem;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s;
}
.main .main-lookbook .swiper-slide > a .hover-box .text,
.main .main-lookbook .item > a .hover-box .text {
  font-size: 1.375em;
  font-weight: 500;
  position: relative;
  transform: translateY(15px);
  transition: 0.3s;
}
.main .main-lookbook .swiper-slide > a .hover-box .text::before,
.main .main-lookbook .item > a .hover-box .text::before {
  content: "\e943";
  font-family: "xeicon" !important;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.0909090909em;
  border-radius: 50%;
  width: 3.4375rem;
  height: 3.4375rem;
  line-height: 3.4375rem;
  display: block;
  margin: 0.3125rem auto;
}
.main .main-lookbook .swiper-slide > a:hover .hover-box,
.main .main-lookbook .item > a:hover .hover-box {
  opacity: 1;
}
.main .main-lookbook .swiper-slide > a:hover .hover-box .text,
.main .main-lookbook .item > a:hover .hover-box .text {
  transform: translateY(0);
}
.main .main-cake {
  text-align: center;
}
.main .main-cake .inner {
  display: block;
  padding: 10px;
  position: relative;
}
.main .main-cake .inner:hover .img-box .hover-line {
  opacity: 1;
}
.main .main-cake .inner:hover .img-box .hover-line::after {
  padding: 10px;
}
.main .main-cake .img-box {
  position: relative;
  border-radius: 50%;
}
.main .main-cake .img-box .img {
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
}
.main .main-cake .img-box .img::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.main .main-cake .img-box .img > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.main .main-cake .img-box .hover-line {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 2px solid #000;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}
.main .main-cake .img-box .hover-line::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 2px solid #f33241;
  border-radius: 50%;
  transition: padding 0.3s;
}
.main .main-cake .title {
  font-size: 1.375em;
  margin-top: 1.3636363636em;
  font-weight: 700;
}
.main .main-cake.no-swiper .swiper-wrapper {
  justify-content: space-between;
}
.main .main-cake.no-swiper .swiper-slide {
  flex: 1 0 11.25em;
  max-width: 11.25em;
}
@media all and (max-width: 1400px) {
  .main .main-cake.no-swiper .swiper-wrapper {
    justify-content: center;
  }
  .main .main-cake.no-swiper .swiper-slide {
    flex: 1 0 14.2857142857%;
    max-width: 14.2857142857%;
  }
}
@media all and (max-width: 1200px) {
  .main .main-cake .title {
    font-size: 1.125em;
    margin-top: 1.1111111111em;
  }
}
@media all and (max-width: 768px) {
  .main .main-cake .title {
    font-size: 1.125em;
    margin-top: 0.8333333333em;
  }
}
@media all and (max-width: 576px) {
  .main .main-cake.no-swiper .swiper-wrapper {
    flex-wrap: wrap;
  }
  .main .main-cake.no-swiper .swiper-slide {
    flex: 1 0 25%;
    max-width: 25%;
  }
}
.main .main-review .review-slider {
  padding: 0 5rem;
  position: relative;
}
@media all and (max-width: 1400px) {
  .main .main-review .review-slider {
    padding: 0;
  }
}
.main .main-review .swiper-button {
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 300ms color;
}
.main .main-review .swiper-button img {
  width: 1.5rem;
}
.main .main-review .swiper-button--prev {
  left: 0.625rem;
}
.main .main-review .swiper-button--next {
  right: 0.625rem;
}
.main .main-review .swiper-button-disabled {
  opacity: 0.2;
}
@media all and (max-width: 1400px) {
  .main .main-review .swiper-button {
    display: none;
  }
}
.main .main-review .swiper-pagination {
  display: none;
}
@media all and (max-width: 1400px) {
  .main .main-review .swiper-pagination {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 1.5625rem;
  }
}
.main .main-review .swiper-pagination-bullet {
  margin: 0 0.3125rem;
  width: 0.75rem;
  height: 0.75rem;
}
.main .main-menu {
  background: #f5f2e9;
  text-align: center;
}
.main .main-menu .menu-list {
  display: flex;
  flex-wrap: wrap;
}
.main .main-menu .menu-list__item {
  flex: 1 0 20%;
  max-width: 20%;
}
.main .main-menu .menu-list .link {
  display: block;
}
@media all and (min-width: 1024.02px) {
  .main .main-menu .menu-list .link:hover .icon {
    transition: 500ms all;
    animation-name: rotateAni;
    -webkit-animation-name: rotateAni;
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
  }
}
.main .main-menu .menu-list .title {
  font-weight: 700;
  font-size: 0.9375rem;
  color: #8784d6;
  margin-top: 0.625rem;
}
.main .main-menu .menu-list .icon {
  margin-top: 1.25rem;
}
.main .main-menu .menu-list .icon img {
  width: 8.125em;
}
@media all and (max-width: 1200px) {
  .main .main-menu .menu-list .title-img img {
    height: 18px;
  }
}
@media all and (max-width: 1024px) {
  .main .main-menu .menu-list .title-img img {
    height: 12px;
  }
  .main .main-menu .menu-list .title {
    margin-top: 0.25rem;
  }
  .main .main-menu .menu-list .icon img {
    width: 6.25em;
  }
}
@media all and (max-width: 768px) {
  .main .main-menu .menu-list {
    justify-content: center;
    margin: -1rem;
  }
  .main .main-menu .menu-list__item {
    flex: 1 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }
  .main .main-menu .menu-list .icon img {
    width: 3.125em;
  }
}
@media all and (max-width: 576px) {
  .main .main-menu .menu-list {
    margin: -1rem -0.5rem;
  }
  .main .main-menu .menu-list__item {
    flex: 1 0 50%;
    max-width: 50%;
    padding: 1rem 0.5rem;
  }
}

@keyframes rotateAni {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0);
  }
}
/*# sourceMappingURL=main.css.map */