/* Made by Masstige */
.login__wrap {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.login__wrap .select-row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}
.login__wrap .select-row select {
  color: #9b9489;
}
.login__wrap .select-row input,
.login__wrap .select-row select {
  padding: 0 10px;
  font-weight: 500;
}
.login__wrap .select-row__item {
  width: 100%;
}
.login__wrap .select-row__item:first-of-type {
  max-width: 7.5em;
  flex: 1 0 7.5em;
  position: relative;
  padding: 0 1.25em;
}
.login__wrap .select-row__item:first-of-type::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 0.875em;
  background-color: #c5c5c5;
}
.login__wrap .select-row__item:last-of-type {
  max-width: calc(100% - 7.5em);
  flex: 1 0 calc(100% - 7.5em);
  padding: 0 1.25em;
}
.login__tab {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 1.875em;
}
.login__tab--item {
  width: 100%;
  max-width: 50%;
  flex: 1 0 50%;
}
.login__tab--link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 4.0625em;
  font-weight: 500;
  color: #8784d6;
  border: 1px solid #8784d6;
  position: relative;
}
.login__tab--link.on {
  background-color: #8784d6;
  color: #fff;
}
.login__tab--link.on::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.4375em;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 7px solid #8784d6;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}
.login__find--box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 8.9375em;
}
.login__find--after {
  display: none;
}
.login__input {
  border: 1px solid #8784d6;
  margin-top: -1px;
  padding: 5px 0;
}
.login__input input::placeholder {
  color: #9b9489;
}
.login__input input,
.login__input button,
.login__input select,
.login__input textarea {
  border: 0;
  padding: 0 1.25rem;
}
.login__btn {
  font-size: 1.125em;
  line-height: 1;
  font-weight: 700;
  width: 100%;
  height: 3.875rem;
  line-height: 3.875rem;
  transition: all 300ms ease-in-out;
  color: #fff;
  display: inline-block;
  text-align: center;
}
.login__btn.color-01 {
  border: 1px solid #8784d6;
  background-color: #8784d6;
}
.login__btn.color-01:hover {
  background-color: #f3efe9;
  color: #8784d6;
}
.login__btn.color-02 {
  border: 1px solid #555;
  background-color: #555;
}
.login__btn.color-02:hover {
  background-color: #f3efe9;
  color: #555;
}
.login__check {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.login__check .login-member-link {
  font-size: 0.9375rem;
  line-height: 1;
  font-weight: 500;
  color: #9b9489;
  padding: 0 15px;
  position: relative;
  display: inline-block;
}
.login__check .login-member-link:first-of-type {
  padding-left: 0;
}
.login__check .login-member-link:last-of-type {
  padding-right: 0;
}
.login__check .login-member-link::before {
  content: "";
  border-right: 1px solid #aaa;
  height: 10px;
  position: absolute;
  top: 50%;
  right: -1px;
  margin-top: -5px;
}
.login__check .login-member-link:last-of-type::before {
  display: none;
}
.login__type {
  margin: 0 -0.1875em;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 2.375em;
  margin-top: 2.375em;
  border-top: 1px solid #8784d6;
}
.login__type--item {
  padding: 0 0.1875em;
  width: 100%;
  max-width: 50%;
  flex: 1 0 50%;
}
.login__type--inner {
  width: 100%;
  height: 6.25em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #8784d6;
  transition: all 300ms ease-in-out;
}
.login__type--inner:hover {
  background-color: #8784d6;
}
.login__type--inner:hover .login__type-text {
  color: #fff;
}
.login__type--inner:hover .login__type-text--small {
  color: #fff;
}
.login__type-text {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
  color: #8784d6;
}
.login__type-text--small {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 500;
  display: block;
}
.login-list-item {
  margin-bottom: 0.625em;
}
.login-list-item:last-child {
  margin-bottom: 0;
}
.login-list-item .sns-btn {
  width: 100%;
  height: 3.875rem;
  line-height: 3.875rem;
  display: block;
  text-align: center;
  position: relative;
  font-size: 1.125em;
}
.login-list-item .sns-btn:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.6666666667em;
  width: 1.6111111111em;
  height: 1.4444444444em;
  background-repeat: no-repeat;
  background-size: contain;
}
.login-list-item .sns-btn.login-naver {
  background-color: #03cf5d;
  border: 1px solid #03cf5d;
  color: #fff;
}
.login-list-item .sns-btn.login-naver:before {
  background-image: url(../images/icon/login_naver.png);
}
.login-list-item .sns-btn.login-naver.active {
  background-color: #fff;
  color: #03cf5d;
}
.login-list-item .sns-btn.login-naver.active:before {
  background-image: url(../images/icon/login_naver_on.png);
}
.login-list-item .sns-btn.login-kakao {
  background-color: #f9e000;
  border: 1px solid #f9e000;
  color: #412e34;
}
.login-list-item .sns-btn.login-kakao:before {
  background-image: url(../images/icon/login_kakao.png);
}
.login-list-item .sns-btn.login-kakao.active {
  background-color: #fff;
}

.join__wrap {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
}
.join__wrap input {
  border: 1px solid rgba(135, 132, 214, 0.3);
  padding: 0 10px;
}
.join__title {
  font-size: 1.125em;
  line-height: 1.3;
  font-weight: 500;
}
.join-area {
  padding: 1.5625em 0;
  margin-bottom: 2.5em;
}
.join-area--border-color1 {
  border-color: #8784d6 !important;
}
.join-area--border-color2 {
  border-color: #ff8b3b !important;
}
.join-area--border-top1 {
  border-top: 1px solid;
}
.join-area--border-bottom1 {
  border-bottom: 1px solid;
}
.join-area--border-top2 {
  border-top: 2px solid;
}
.join-area__title {
  font-size: 1em;
  line-height: 1.3;
  font-weight: 500;
  color: #54514c;
  margin-bottom: 0.5em;
}
.join-area__box {
  margin-bottom: 1.5625em;
}
.join-area__box:last-of-type {
  margin-bottom: 0;
}

.pw-hide {
  display: none;
}

.number-form {
  display: none;
}

.input-time__count {
  width: 100%;
  position: relative;
}
.input-time__count input {
  padding-right: 60px !important;
}
.input-time__count--box {
  font-size: 13px;
  line-height: 1;
  color: #f32f3e;
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.withdrawal__box input,
.withdrawal__box select {
  background-color: #f3efe9;
  border: 1px solid rgba(135, 132, 214, 0.3);
  padding: 0 1.125rem !important;
}
.withdrawal__box input::placeholder,
.withdrawal__box select::placeholder {
  color: #9b9489;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.02em;
}
.withdrawal__box textarea {
  display: block;
  height: 200px;
  background-color: #f3efe9;
  border: 1px solid rgba(135, 132, 214, 0.3);
  padding: 1.125rem !important;
}

.readonly {
  cursor: default !important;
  background-color: rgba(135, 132, 214, 0.2) !important;
}
/*# sourceMappingURL=member.css.map */