/* Made by Masstige */
@media all and (min-width: 1024.02px) {
  html.html--story::-webkit-scrollbar {
    width: 7px;
  }
  html.html--story::-webkit-scrollbar-track {
    width: 7px;
    background: transparent;
  }
  html.html--story::-webkit-scrollbar-thumb {
    width: 7px;
    border-radius: 5px;
    background: #7f7f7f;
  }
}

.main--story {
  overflow: hidden;
}

.story .story1 {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.story .story1 .title img {
  max-width: 60vw;
  min-width: 260px;
}
@media all and (max-width: 768px) {
  .story .story1 {
    min-height: auto;
    padding: 25vw 0;
  }
}
.story .story2 {
  padding-bottom: 25em;
}
@media all and (max-width: 768px) {
  .story .story2 {
    padding-bottom: 13.75em;
  }
}
@media all and (max-width: 576px) {
  .story .story2 {
    padding-bottom: 8.75em;
  }
}
.story .story3 {
  padding-top: 15.625em;
  padding-bottom: 17.5em;
}
.story .story3 .title img {
  max-width: 40vw;
  min-width: 200px;
}
@media all and (max-width: 768px) {
  .story .story3 {
    padding-top: 10em;
    padding-bottom: 12.5em;
  }
}
@media all and (max-width: 576px) {
  .story .story3 {
    padding-top: 8.125em;
    padding-bottom: 9.375em;
  }
}
.story-container {
  max-width: 1720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.story-wrap {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
@media all and (max-width: 768px) {
  .story-wrap {
    padding-left: 0;
    padding-right: 0;
  }
}
.story-inner {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.story-inner--2 .story__text {
  position: relative;
  right: -5vw;
  top: 3.125rem;
  z-index: 2;
}
.story-inner--2 .story__img {
  position: relative;
  right: 5vw;
}
.story-inner--5 .story__text {
  position: relative;
  left: 10vw;
  z-index: 2;
}
.story-inner--6 .story__text {
  position: relative;
  left: -4vw;
  margin-right: -3vw;
  z-index: 2;
  margin-top: 15em;
}
@media all and (max-width: 1200px) {
  .story-inner--2 .story__img {
    max-width: 45%;
  }
  .story-inner--4 img {
    max-width: 45%;
  }
  .story-inner--5 .story__img {
    max-width: 45%;
  }
  .story-inner--6 .text-right img {
    max-width: 45%;
  }
  .story-inner--6 .story__img {
    max-width: 45%;
  }
}
@media all and (max-width: 1024px) {
  .story-inner--1 .story__img {
    width: 20%;
  }
  .story-inner--2 .story__text {
    left: auto;
    right: auto;
    top: 1.25rem;
    margin-right: -10vw;
  }
  .story-inner--2 .story__img {
    right: 0;
    max-width: 50%;
  }
  .story-inner--6 .story__img {
    max-width: 50%;
  }
  .story-inner--6 .story__text {
    margin-top: 16vw;
    left: auto;
    margin-left: -10vw;
    margin-right: 0;
  }
}
@media all and (max-width: 768px) {
  .story-inner {
    width: 100%;
  }
  .story-inner--1 .story__text {
    flex: 1 0 100%;
    width: auto;
    position: relative;
    z-index: 2;
  }
  .story-inner--1 .story__img {
    text-align: right;
    flex: 1 0 100%;
    width: 100%;
    margin-top: -10vw;
  }
  .story-inner--1 .story__img img {
    width: 9.375rem;
  }
  .story-inner--2 .story__text {
    margin-top: -10vw;
    margin-right: -30vw;
  }
  .story-inner--2 .story__img {
    max-width: 60%;
  }
  .story-inner--3 .img img {
    width: 255px !important;
  }
  .story-inner--5 .story__text {
    left: 0;
    margin-right: -19vw;
  }
  .story-inner--5 .story__img {
    margin-top: 8vw;
    max-width: 60%;
  }
  .story-inner--6 .text-right img {
    max-width: 55%;
  }
  .story-inner--6 .story__text {
    margin-top: 25vw;
  }
}
.story__text {
  flex: 1 1 auto;
  width: 1%;
}
.story__img {
  flex: 0 1 auto;
}
.story .line-text {
  position: absolute;
}
.story .line-text--1 {
  left: 20px;
  top: 6.25rem;
}
.story .line-text--2 {
  right: 20px;
  top: 0;
}
.story .line-text--3 {
  left: 20px;
  top: 0;
}
@media all and (max-width: 768px) {
  .story .line-text {
    display: none;
  }
}
.story .deco--3 {
  position: absolute;
  right: 0;
  top: -4.375rem;
  max-width: 16vw;
}
.story .deco--5 {
  position: absolute;
  right: 20px;
  top: 0;
}
@media all and (max-width: 1600px) {
  .story .deco--2 {
    width: 32vw;
    min-width: 150px;
  }
  .story .deco--4 {
    width: 23vw;
    min-width: 110px;
  }
  .story .deco--5 {
    width: 25vw;
    min-width: 120px;
  }
  .story .deco--7 {
    width: 23vw;
    min-width: 120px;
  }
}
@media all and (max-width: 1024px) {
  .story .deco--1 {
    width: 40%;
  }
  .story .deco--5 {
    top: -15vw;
  }
  .story .deco--6 img {
    width: 15.625rem;
  }
}
@media all and (max-width: 768px) {
  .story .deco--3 {
    max-width: 20vw;
    top: -1.25rem;
  }
}
.story .story-map {
  max-width: 445px;
  margin: 0 auto;
}
.story .story-map__tab {
  display: flex;
  flex-wrap: wrap;
}
.story .story-map__tab .item {
  flex: 1;
  padding: 0 0.375rem;
}
.story .story-map__tab .link {
  height: 2.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.625rem;
  background: #fff;
  border: 1px solid #76bd71;
  color: #76bd71;
  transition: 0.3s;
}
.story .story-map__tab .link:hover {
  background: #76bd71;
  color: #fff;
}
.story .story-map__tab .link--google {
  color: #5482e9;
  border-color: #5482e9;
}
.story .story-map__tab .link--google:hover {
  background: #5482e9;
  color: #fff;
}
.story .story-map__tab .link--kakao {
  color: #f3de4b;
  border-color: #f3de4b;
}
.story .story-map__tab .link--kakao:hover {
  background: #f3de4b;
  color: #fff;
}
/*# sourceMappingURL=story.css.map */