@charset "UTF-8";

// 버튼 공통 스타일
[class*=' btn-type-'],
[class^='btn-type-'] {
	border: 0;
	min-width: em(80);
	align-items: center;
	justify-content: center;
	display: inline-flex;
	font-size: rem(20);
	padding: 0 2em;
	vertical-align: middle;

	&.__large {
		font-size: rem(22);
		font-weight: 500;
	}

	@include mdq-max(lg) {
		font-size: rem(16);
		padding: 0 1em;

		&.__large {
			font-size: rem(18);
		}
	}
	@include mdq-max(sm) {
		font-size: rem(15);

		&.__large {
			font-size: rem(16);
		}
	}
}

// 버튼 클래스 구분자 $theme-colors 맵의 인덱스 번호로 부여
@each $name, $color in $theme-colors {
	$idx: index(($theme-colors), ($name $color)); // 인덱스 체크

	.btn-type-0#{$idx} {
		border: 1px solid $color !important;
		background-color: $color;
		color: #fff;
		transition: 0.2s;
		&:hover {
			background-color: $white;
			color: $color;
		}

		&.__line {
			background-color: $white;
			color: $color;

			&:hover {
				background-color: $color;
				color: $white;
			}
		}
	}

	.btn-type-white.__line {
		color: $white;
		background-color: transparent;
		border: 1px solid $white;
		transition: 0.2s;
		&:hover {
			background-color: $white;
			color: $color-1;
		}
	}
}

// .btn-type-01 {
//   background-color: $color-1;
//   color: #fff;
// }

// .btn-type-02 {
//   background-color: $color-2;
//   color: #fff;
// }

// .btn-type-03 {
//   background-color: #666;
//   color: #fff;
// }

// .btn-type-04 {
//   background-color: #222;
//   color: #fff;
// }

///*상세보기 목록 버튼리스트*/
.board_write_btn_bx {
	position: relative;
	text-align: right;
	margin: 40px auto;
	// a {
	//   position: absolute;
	//   top: 40px;
	//   right: 0;
	//   z-index: 2;

	//   @include mdq-max(lg) {
	//     position: static;
	//     margin-top: 10px;
	//     width: 100%;
	//   }
	// }
}

.board_view_btn_box {
	margin: 40px auto;

	@include mdq-max(lg) {
		position: relative;

		a {
			min-width: 70px;
			padding: 0 10px;

			&:nth-child(2) {
				position: absolute;
				top: 0;
				left: 0;
				min-width: 35px;
			}

			&:nth-child(3) {
				position: absolute;
				top: 0;
				left: 60px;
				min-width: 35px;
			}

			&:nth-child(4) {
				position: absolute;
				top: 0;
				left: 120px;
				min-width: 35px;
			}
		}
	}
}
