@charset "UTF-8";

input[type='checkbox'],
input[type='radio'] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;

	+ label {
		display: inline-block;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

input[type='checkbox'] {
	$w: rem(19);
	line-height: $w;

	+ label {
		padding-left: ($w + 0.5rem);

		&:before {
			width: $w;
			height: $w;
			top: 50%;
			margin-top: -$w/2;
			content: '';
			position: absolute;
			left: 0;
			text-align: center;
			background-position: center;
			background-size: cover;
			border: 1px solid $color-1;
			// font-size: calc($w - 2px);
		}

		&:hover:before {
			border-color: $mc;
		}
	}

	&:checked {
		+ label:before {
			font-family: xeicon !important;
			display: inline-block;
			speak-as: none;
			font-style: normal;
			font-weight: 400;
			font-variant: normal;
			text-transform: none;
			line-height: $w;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: '\e929';
			color: #fff;
			background-color: $mc;
			border-color: $mc;
		}
	}
}

input[type='radio'] {
	$w: rem(19);
	line-height: $w;

	+ label {
		// font-size: 18px;
		padding-right: 1.5em;
		padding-left: ($w + 0.5rem);

		&:before {
			top: 50%;
			margin-top: -$w/2;
			width: $w;
			height: $w;
			content: '';
			border: 1px solid $color-1;
			border-radius: 50%;
			position: absolute;
			box-sizing: border-box;
			left: 0;
		}
	}

	&:checked {
		+ label:before {
			border: rem(5) solid $mc;
		}
	}

	// @include mdq-max(sm) {
	//   $w: 14px;
	//   line-height: $w;

	//   +label {
	//     font-size: 14px;
	//     padding-right: 15px;
	//     padding-left: $w + 4px;

	//     &:before {
	//       margin-top: -$w/2;
	//       width: $w;
	//       height: $w;
	//     }
	//   }

	//   &:checked+label:before {
	//     border-width: 4px;
	//   }
	// }
}

// label input checkbox, radio style
.input-label {
	$w: 20px;
	line-height: $w;

	&__txt {
		display: inline-block;
		line-height: $w;
		position: relative;
		padding-left: ($w + 5px);
		cursor: pointer;
		&::before {
			content: '';
			width: $w;
			height: $w;
			line-height: ($w - 2px);
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -$w/2;
			text-align: center;
			background-position: center;
			background-size: cover;
			border: 1px solid $color-1;
			box-sizing: border-box;
		}
	}

	&--checkbox,
	&--radio {
		position: relative;
		input {
			//브라우저 기본경고창 위치 확보
			height: $w + 2px;
			width: $w + 2px;
			top: 1px;
			left: 1px;
		}
	}
	&--checkbox {
		input:focus + .input-label__txt::before {
			border-color: $color-1;
		}

		input:checked + .input-label__txt::before {
			content: '\e929';
			font-family: xeicon !important;
			background: $color-1;
			border-color: $color-1;
			color: $white;
			font-size: 1rem;
		}
	}

	&--radio {
		.input-label__txt::before {
			border-radius: 50%;
		}
		input:focus + .input-label__txt::before {
			border-color: $color-1;
		}

		input:checked + .input-label__txt {
			&::before {
				z-index: 1;
			}
			&::after {
				content: '';
				width: $w;
				height: $w;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -$w/2;
				background: $color-1;
				border: 6px solid $white;
				border-radius: 100%;
				box-sizing: border-box;
			}
		}
	}
}
